<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build Number</string>
			<key>Key</key>
			<string>build_preference</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Authentication</string>
			<key>Key</key>
			<string>Authentication</string>
			<key>DefaultValue</key>
			<string>Basic</string>
			<key>Titles</key>
			<array>
				<string>Basic</string>
				<string>Keycloak</string>
				<string>None</string>
			</array>
			<key>Values</key>
			<array>
				<string>Basic</string>
				<string>Keycloak</string>
				<string>None</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>X-Pack</string>
			<key>Key</key>
			<string>enableXPack</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Protocol</string>
			<key>Key</key>
			<string>protocol</string>
			<key>DefaultValue</key>
			<string>http</string>
			<key>Titles</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
			<key>Values</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Base URL</string>
			<key>Key</key>
			<string>base_url</string>
			<key>DefaultValue</key>
			<string>ec2-35-158-106-139.eu-central-1.compute.amazonaws.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port</string>
			<key>Key</key>
			<string>port</string>
			<key>DefaultValue</key>
			<string>5601</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Theme</string>
			<key>Key</key>
			<string>theme</string>
			<key>DefaultValue</key>
			<string>Light</string>
			<key>Titles</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>Values</key>
			<array>
				<string>Light</string>
				<string>Dark</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
